Flask
Flask-Cors
Flask-RESTful
Flask-Mail
flask-marshmallow
Flask-DebugToolbar
Flask-Script
Flask-Migrate
sentry-sdk[flask]
redis

SQLAlchemy
mysql-connector-python

requests
qiniu
ujson
simplejson

python-dateutil
jsonschema

uWSGI


